{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends 'layouts/page.njk' %}

{% block header %}
  {{ appHeader({
    loggedIn: loggedIn,
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}
  {% call appPageBody() %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/certificates" method="get" novalidate>
          {{ govukInput({
            label: {
              text: "Certificate number"
            },
            hint: {
              text: "For example, GBR-2018-CC-123A4BC56"
            },
            classes: "govuk-input--width-20",
            id: "certNumber",
            name: "certNumber",
            attributes: {
              spellcheck: "false"
            }
          }) }}
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
          }) }}
        </form>
      </div>
    </div>
  {% endcall %}
{% endblock %}

