{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% macro appHeader(params) %}
    {{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        classes: "app-header",
        containerClasses: "govuk-width-container"
    }) }}
    {{ govukServiceNavigation({
        serviceName: params.serviceName,
        serviceUrl: params.serviceUrl,
        navigation: [
            {
                href: "/admin",
                text: "Admin",
                attributes: {
                    id: "adminLink"
                }
            },
            {
                href: "/sign-out",
                text: "Sign out",
                attributes: {
                    id: "signOutLink"
                }
            } if params.loggedIn
        ]
    }) }}
{% endmacro %}
