{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends 'layouts/page.njk' %}

{% block header %}
  {{ appHeader({
    loggedIn: loggedIn,
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% set errorInputClass = "govuk-input--error" if error else "" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appHeading({
        text: heading
      }) }}

    {% if error %}
       {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Incorrect user name or password",
              href: "#username"
            }
          ]
        }) }}
    {% endif %}
      <form method="post" action="login" id="login">
        {{ govukInput({
          label: {
            text: "Username"
          },
          id: "username",
          name: "username",
          classes: errorInputClass
        }) }}

        {{ govukInput({
          label: {
            text: "Password"
          },
          type: 'password',
          id: "password",
          name: "password",
          classes: errorInputClass
        }) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
        <input type="hidden" name="crumb" id="crumb" value="{{ crumb }}" autocomplete="off"/>
      </form>
    </div>
  </div>
{% endblock %}